body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

    background: url("img/background.png") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    padding: 30px;
}

h1 {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}

body {
    color: #ffffff; 
}

.input-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.input-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.input {
    color: #000000; 
    
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 12px 20px;
    
    background: rgb(255, 255, 255); 
    width: 250px;
    font-size: 16px;
    outline: none;
    transition: 0.25s ease;
}

.input:focus {
    border-color: #5c03d1;
    box-shadow: 0 0 10px #8707ff;
}

.send-btn {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background: #8707ff;
    color: rgb(255, 255, 255);
    transition: 0.25s ease;
}

.send-btn:hover {
    background: #5203d1;
    transform: translateY(-2px);
}

footer {
    padding: 20px;
    text-align: center;
    background: #8707ff;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-top: auto;
    background: rgba(135, 7, 255, 0.4);
    backdrop-filter: blur(10px);
}
/* From Uiverse.io by zjssun */ 
.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}